.formItemInput {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    color: #1d66b0;
    outline-color: #0a7df0;
}
.ItemBtn {
    padding: 12px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 4px;
}

.ItemBtn:hover {
    background-color: #45a049;
}
