.todo-app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

li span {
    flex: 1;
    margin-left: 10px;
}

li.completed span {
    color: #888;
}

/* .todo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
} */

button {
    transition: all 0.4s ease-in-out;
}

button:active {
    transform: scale(0.4);
}
